:root {
	font: 0.75em $fb; // 12 / 16
	color: $cb;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	flex-direction: column;
}

header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
	padding-top: 248px;
}

@media (max-width: 1200px) {
	main {
		padding-top: 124px;
	}
}

picture::selection,
img::selection,
table th::selection,
table td::selection,
a::selection,
strong::selection,
b::selection,
em::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
li::selection,
input:not([type='checkbox']):not([type='radio'])::selection {
	color: $c1;
	background-color: $cb;
}

.container,
.container-md {
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-width: 1200px;
}

.container-md {
	max-width: 940px;
}

@media (max-width: 1230px) {
	.container {
		padding-left: mp(50, 1200);
		padding-right: mp(50, 1200);
	}
}

@media (max-width: 1024px) {
	.container {
		padding-left: mp(40, 1024);
		padding-right: mp(40, 1024);
	}
}

@media (max-width: 970px) {
	.container-md {
		padding-left: mp(40, 970);
		padding-right: mp(40, 970);
	}
}

@media (max-width: 576px) {

	.container,
	.container-md {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 360px) {

	.container,
	.container-md {
		padding-left: 15px;
		padding-right: 15px;
	}
}

h1,
h2,
h3 {
	letter-spacing: 0.04em;
	color: $c3;
}

h1,
h2 {
	margin-bottom: 42px;
	font-weight: 800;
}

h2,
h3 {
	line-height: 1.2;
}

h1 {
	margin-bottom: 42px;
	font-size: fsz(33, 12);
	line-height: 1.35;
}

h2 {
	font-size: fsz(30, 12);
}

h3 {
	margin-bottom: 15px;
	font-size: fsz(23, 12);
	font-weight: 700;
}

@media (max-width: 1024px) {

	h1,
	h2 {
		margin-bottom: 25px;
	}
}

@media (max-width: 576px) {
	h1 {
		font-size: fsz(30, 12);
	}

	h2 {
		font-size: fsz(27, 12);
	}

	h3 {
		font-size: fsz(20, 12);
	}
}

@media (max-width: 360px) {
	h1 {
		font-size: fsz(27, 12);
	}

	h2 {
		font-size: fsz(24, 12);
	}

	h3 {
		font-size: fsz(17, 12);
	}
}

[data-title] {
	margin-bottom: 0;

	&+span {
		display: block;
		font-size: fsz(100, 12);
		font-weight: 800;
		letter-spacing: 0.04em;
		line-height: 1;
		color: rgba($c2, 0.1);
	}
}

@media (max-width: 1024px) {
	[data-title] {

		&+span {
			font-size: fsz(80, 12);
		}
	}
}

@media (max-width: 576px) {
	[data-title] {

		&+span {
			font-size: fsz(60, 12);
		}
	}
}

@media (max-width: 360px) {
	[data-title] {

		&+span {
			font-size: fsz(40, 12);
		}
	}
}

h3 {
	&[data-title] {
		&+span {
			margin-top: -20px;
		}
	}
}

a {
	color: $c8;
	text-decoration: none;
	@include trs-all;

	&:hover {
		text-decoration: underline;
	}
}

p {
	margin-bottom: 20px;
	line-height: 1.65;
	letter-spacing: 0.04em;
}

picture,
img {
	max-width: 100%;
	height: auto;
}

picture {
	display: block;
}

b {
	font-weight: 700;
}

.list-img,
.list-img-2 {
	position: relative;
}

.list-img {
	overflow: hidden;

	picture,
	img {
		position: absolute;
		top: 0;
		left: 0;
		@include imgSt;
	}
}

.list-img-2 {
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		overflow: hidden;
	}

	picture,
	img {
		max-height: 100%;
		width: auto;
	}
}

iframe:not(.instagram-media),
iframe:not(.facebook),
iframe:not([id^='telegram']),
video {
	margin-bottom: 0;
	border: none;
}

.video-wrapper,
.video-wrapper-style-1 {

	iframe:not(.instagram-media),
	iframe:not(.facebook),
	iframe:not([id^='telegram']),
	video {
		margin-bottom: 0;
		border: none;
	}
}

.video-wrapper {
	position: relative;
	margin-bottom: 25px;
	padding-top: 56.25%;

	iframe:not(.instagram-media),
	iframe:not(.facebook),
	iframe:not([id^='telegram']),
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.video-wrapper-style-1 {

	iframe:not(.instagram-media),
	iframe:not(.facebook),
	iframe:not([id^='telegram']),
	video {
		max-width: 100%;
	}
}

.map-wrapper {
	position: relative;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}

	&.map-wrapper-style-1 {
		padding-top: calc(max(50%, 400px));
		height: auto;
	}
}

.clearfix {

	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}
