header {
	top: 0;
	left: 0;
	z-index: 998;
	width: 100%;
	opacity: 0;

	.container {
		display: flex;
		align-items: center;
	}
}

.logo-company {
	display: inline-block;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.main-nav ul,
.lang {
	margin-bottom: 0;

	a {
		display: inline-block;
		line-height: 1;
		color: $c1;

		&:hover {
			color: $c8;
			text-decoration: none;
		}
	}
}

.lang {
	li {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		&.lang--active {
			font-weight: 700;
		}
	}
}

@media (min-width: 1201px) {
	header {
		position: absolute;

		.container {
			position: relative;
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}

	.inner {
		header {
			background-color: $c6;

			.container {
				background: url(../img/ukraine-map-2.svg) no-repeat calc(100% - 22px) 50%;
			}
		}
	}

	.index,
	.inner {
		header {
			opacity: 0;
		}
	}

	.header__bl-1 {
		flex: none;
		width: mp(338, 1200);
		padding-left: mp(85, 1200);
	}

	.header__bl-2 {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__bl-3 {
		display: none;
	}

	.header__add {
		div {
			display: inline-block;
			vertical-align: middle;

			&:not(:last-child) {
				margin-right: 68px;
			}
		}
	}

	.main-nav {
		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 19px;
			}
		}
	}
}

@media (min-width: 1231px) {
	header {
		.container {
			padding-right: 100px;
		}
	}
}

@media (max-width: 1200px) {
	header {
		position: fixed;

		.container {
			padding-top: 15px;
			padding-bottom: 15px;
			justify-content: space-between;
		}
	}

	.index,
	.inner {
		header {
			opacity: 1;
		}
	}

	.index header.header-style,
	.inner header {
		background-color: $c6;
	}

	.header__bl-1 {
		position: relative;
	}

	.header__bl-2,
	.header__nav,
	.header__btn,
	.header__lang {
		display: none;
	}

	.header__bl-1,
	.toggle-btn {
		z-index: 999;
	}

	.toggle-wrapper,
	.toggle-btn {
		position: relative;
		width: 20px;
		height: 12px;
		display: inline-block;
	}

	.toggle-wrapper {
		vertical-align: middle;
	}

	.toggle__content {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		bottom: 0;
		z-index: 998;
		padding-left: mp(50, 1200);
		padding-right: mp(50, 1200);
		opacity: 0;
		visibility: hidden;
		transform: scaleY(0);
		transform-origin: top;
		background: $c6 url(../img/ukraine-map-2.svg) no-repeat calc(100% - mp(50, 1200)) calc(100% - 60px);
		@include trs-all;

		>div {
			position: relative;
			z-index: 1;
			display: grid;
			grid-template-columns: 1fr;
			align-content: space-between;
			height: 100%;
			padding-top: 76px;
			padding-bottom: 76px;
			text-align: center;
			overflow-y: auto;

			.header__nav,
			.header__lang {
				display: block;
			}

			.header__btn {
				display: inline-block;
				justify-self: center;
			}
		}

		&.content-visible {
			opacity: 1;
			visibility: visible;
			transform: scaleY(1);
		}
	}

	.toggle-btn {
		position: relative;
		top: 1px;
		padding: 0;
		vertical-align: top;
		overflow: hidden;
		cursor: pointer;

		span {
			position: absolute;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: $c1;
			@include trs;

			&:first-child {
				top: 0;
				left: auto;
				right: 0;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 5px;
			}

			&:nth-child(4) {
				bottom: 0;
			}
		}
	}

	.toggle-btn-style {
		span {

			&:first-child,
			&:nth-child(4) {
				background-color: transparent;
			}

			&:nth-child(2),
			&:nth-child(3) {
				background-color: $c3;
			}

			&:first-child {
				transform: translateX(40px);
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				transform: translateX(-40px);
			}
		}
	}

	.header__lang+.main-nav {
		margin-top: 20px;
	}

	.main-nav {
		margin-bottom: 20px;

		li {
			&:not(:last-child) {
				margin-bottom: 44px;
			}
		}

		a {
			font-size: fsz(25, 12);
			line-height: 1;
		}
	}
}

@media (max-width: 1024px) {
	.toggle__content {
		padding-left: mp(40, 1024);
		padding-right: mp(40, 1024);
		background-position: calc(100% - mp(40, 1024)) calc(100% - 60px);
	}
}

@media (max-width: 576px) {
	.toggle__content {
		padding-left: 20px;
		padding-right: 20px;
		background-position: calc(100% - 20px) calc(100% - 20px);
	}
}

@media (max-width: 360px) {
	.toggle__content {
		padding-left: 15px;
		padding-right: 15px;
		background-position: calc(100% - 15px) calc(100% - 15px);
		background-size: calc(100% - 30px) auto;
	}
}

@media (max-width: 320px) {
	.main-nav {
		li {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		a {
			font-size: fsz(20, 12);
		}
	}
}
