//== COLORS
$cb: #303030 !default;
$c1: #ffffff;
$c2: #000000;
$c3: #C81111;
$c4: #111111;
$c5: #010101;
$c6: #1D2049;
$c7: #012269;
$c8: #CB942C;
$c9: #FACA86;
$c10: #F6F6F6;
$c11: #23A0DD;
$c12: #4867AA;
$c13: #F41ABA;

//== TYPOGRAPHY
$fb: 'OpenSans', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 12px !default;
