<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl-1">
			<a href="index.html" class="logo-company">
				<img src="img/logo-company.svg" width="93" height="24" alt=" UaUk">
			</a>
		</div>
		<div class="header__bl-2">
			<div>
				<nav class="header__nav main-nav">
					<ul>
						<li>
							<a href="#about" class="scroll-to-anchor">Про платформу</a>
						</li>
						<li>
							<a href="#activities-info" class="scroll-to-anchor">Напрямки діяльності</a>
						</li>
						<li>
							<a href="#persons" class="scroll-to-anchor">Учасники</a>
						</li>
						<li>
							<a href="#news" class="scroll-to-anchor">Новини</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__add">
				<div>
					<button class="btn btn-default header__btn modal-btn" data-modal-btn="modal-1">Долучитись до
						платформи</button>
				</div>
				<div>
					<ul class="header__lang lang">
						<li>
							<a href="javascript:void(0)">Eng</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="lang--active">Укр</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header__bl-3">
			<div class="toggle-wrapper">
				<button class="toggle-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="toggle__content">
					<div></div>
				</div>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
