<div class="hel" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">UaUk</span>
	<img itemprop="image" src="img/logo-company.svg" alt="UaUk">
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">Fleet House 8-12 New Bridge Street</span>
		<span itemprop="addressLocality">London, EC4V 6AL</span>
	</div>
	<span itemprop="telephone">+442078228535</span>
	<span itemprop="telephone">+447305966531</span>
	<span itemprop="email">contact@sterling-law.co.uk</span>
	<span itemprop="fax">+4402071837379</span>
	<span itemprop="skype">sterlinglawassociates</span>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name" content="UaUk">
		<meta itemprop="image" content="img/logo-company.svg">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="Fleet House 8-12 New Bridge Street">
			<meta itemprop="addressLocality" content="London, EC4V 6AL">
		</span>
		<meta itemprop="openingHours" content="Mo-Fr 09:00-18:00">
		<meta itemprop="telephone" content="+442078228535">
		<meta itemprop="telephone" content="+447305966531">
		<meta itemprop="email" content="contact@sterling-law.co.uk">
		<meta itemprop="fax" content="+4402071837379">
		<meta itemprop="skype" content="sterlinglawassociates">
		<meta itemprop="priceRange" content="£">
	</div>
</div>
